<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.mapper.BaseAttrInfoMapper">
    <resultMap id="baseAttrList" type="com.atguigu.gmall.entity.BaseAttrInfo">
        <result property="id" column="id"></result>
        <result property="attrName" column="attr_name"></result>
        <result property="catalog3Id" column="catalog3_id"></result>
        <collection property="attrValueList" ofType="com.atguigu.gmall.entity.BaseAttrValue">
            <result property="id" column="attr_value_id"></result>
            <result property="valueName" column="value_name"></result>
            <result property="attrId" column="id"></result>
        </collection>

    </resultMap>
   <select id="getBaseAttrList" resultMap="baseAttrList">

        SELECT bai.id,
        attr_name,
        catalog3_id,
        bav.id attr_value_id,
        bav.value_name
        FROM base_attr_info bai INNER JOIN base_attr_value bav
        on bai.id = bav.attr_id
        WHERE bai.catalog3_id = #{catalog3id}

   </select>
    <select id="getBaseAttrInfoListByValueIds" resultMap="baseAttrList">
--           SELECT bai.id,
--         attr_name,
--         catalog3_id,
--         bav.id attr_value_id,
--         bav.value_name
--         FROM base_attr_info bai INNER JOIN base_attr_value bav
--         on bai.id = bav.attr_id
--         WHERE bav.id IN (${valueIds})
        SELECT bi.id,attr_name,catalog3_id, ba.id attr_value_id,
        ba.value_name from base_attr_info bi join base_attr_value ba on bi.id = ba.attr_id WHERE ba.id in (${valueIds})
    </select>
</mapper>