<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.mapper.SkuSaleAttrValueMapper">
    <select id="getSaleAttrValuesByspuId" resultMap="spuValueIdsMap">
        SELECT sv.sku_id,GROUP_CONCAT(sv.sale_attr_value_id ORDER BY sv.sale_attr_value_id  ASC  SEPARATOR '|')  value_id
FROM sku_sale_attr_value sv JOIN sku_info si on sv.sku_Id = si.id
WHERE si.spu_id = #{spuId}
GROUP BY sv.sku_id
    </select>
    <resultMap id="spuValueIdsMap" type="java.util.Map" autoMapping="true">

    </resultMap>
</mapper>