<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.cart.mapper.CartInfoMapper">
    <select id="selectCartListWithSkuPrice" resultMap="cartMap">

SELECT ci.id,user_id,ci.sku_id,ci.cart_price,ci.sku_num,ci.img_url,si.price sku_price
from cart_info ci JOIN sku_info si on ci.sku_id = si.id
WHERE ci.user_id = #{userId}
    </select>
    <resultMap id="cartMap" type="com.atguigu.gmall.entity.CartInfo" autoMapping="true">
    </resultMap>
    <insert id="mergeCartInfo">
        INSERT INTO cart_info (user_id,sku_id,cart_price,sku_num,img_url,sku_name)
SELECT #{userIdDest},sku_id,cart_price,sku_num,img_url,sku_name FROM cart_info cc
WHERE cc.user_id = #{userIdOrig}
ON DUPLICATE KEY UPDATE cart_info.`sku_num` = cart_info.`sku_num`+cc.sku_num
    </insert>
</mapper>